In [24]:
import requests
import pandas as pd
from flask import jsonify
API_URL = 'http://lucerna-api.herokuapp.com/api'
CLASSROOM_NAME = 'Tech & Beer'
SCHOOL_NAME = 'Lucerna Studios'

In [25]:
r = requests.get('{}/classroom'.format(API_URL))
classrooms = pd.DataFrame(r.json()['classrooms'])
display(classrooms)

   id         name  school_id
0   5  Tech & Beer          4

In [26]:
classroom = classrooms[classrooms.name == CLASSROOM_NAME].iloc[0]
display(classroom)

id                     5
name         Tech & Beer
school_id              4
Name: 0, dtype: object

In [27]:
r = requests.get('{}/school/{}'.format(API_URL, classroom.school_id))
school = r.json()
display(school['name'])

'Lucerna Studios'

# TOTAL QUESTIONS FOR BOOTH

In [87]:
import datetime

def total_questions(classroom_id, player_id_min=76664226):
    CORRECT = 0
    INCORRECT = 0
    ROUNDS = 0
    PLAYTIME = 0

    r = requests.get('{}/classroom/{}/player'.format(API_URL, classroom.id))
    if r.status_code != 200:
        print('ERROR: Getting players in classroom failed.')
        return -1
    players = pd.DataFrame(r.json()['players'])
    players = players[players.id > player_id_min]
    for player_id in players.id:
        r = requests.get('{}/player/{}/session'.format(API_URL, player_id))
        if r.status_code != 200:
            print('ERROR: Getting sessions for player failed.')
            return -1
        sessions = pd.DataFrame(r.json()['sessions'])
        for session_id in sessions.id:
            r = requests.get('{}/session/{}/round'.format(API_URL, session_id))
            if r.status_code != 200:
                print('ERROR: Getting rounds for session failed.')
                return -1
            rounds = pd.DataFrame(r.json()['rounds'])
            if 'correct' in rounds:
                last_round = rounds.sort_values('stop_time', ascending=False).iloc[0]
                first_round = rounds.sort_values('stop_time', ascending=False).iloc[-1]
                print('.')
                CORRECT += int(last_round.correct)
                INCORRECT += int(last_round.incorrect)
                ROUNDS += 1
                PLAYTIME = pd.to_datetime(last_round.stop_time) - pd.to_datetime(first_round.stop_time)
                print(PLAYTIME)

    print('Correct answers: {}'.format(CORRECT))
    print('Incorrect answers: {}'.format(INCORRECT))
    print('Avg correct answers: {}'.format(CORRECT/ROUNDS))
    
total_questions(classroom.id)

.
0 days 00:04:36
.
0 days 00:35:13
.
0 days 00:01:30
.
0 days 00:00:41
.
0 days 00:03:34
.
0 days 00:00:00
.
0 days 00:11:04
.
0 days 00:06:28
.
0 days 00:06:17
.
0 days 00:06:14
.
0 days 00:07:31
.
0 days 00:02:46
.
0 days 00:31:29
.
0 days 00:07:53
.
0 days 00:03:37
.
0 days 07:27:58
.
0 days 00:04:45
.
0 days 00:00:50
Correct answers: 395
Incorrect answers: 16
Avg correct answers: 21.944444444444443

In [21]:
r = requests.post('{}/classroom'.format(API_URL), json={'name':CLASSROOM_NAME})
r.json()

new_player = {
    'name':'Creepy Dude',
    'contact': {
        'first_name':'Creepy',
        'last_name':'Dude',
        'login': {
            'email':'creepydude@gmail.com'
        }
    }
}

r = requests.post('{}/player'.format(API_URL), json=new_player)
r.json()

{'classroom_id': None,
 'contact_id': 9,
 'game_id': 'None',
 'grade': 'None',
 'guardian_id': None,
 'highscore': None,
 'id': 76658760,
 'letter_grade': '',
 'levels_unlocked': 'None',
 'name': 'Creepy Dude'}

In [23]:
r = requests.get('{}/contact'.format(API_URL))

In [92]:
import requests
import pandas as pd
from flask import jsonify
API_URL = 'http://lucerna-api.herokuapp.com/api'
CLASSROOM_NAME = 'Tech & Beer'
SCHOOL_NAME = 'Lucerna Studios'

def all_emails(classroom_id, player_id_min=76664226):
    r = requests.get('{}/classroom/{}/player'.format(API_URL, classroom.id))
    if r.status_code != 200:
        print('ERROR: Getting players in classroom failed.')
        return -1
    players = pd.DataFrame(r.json()['players'])
    players = players[players.id > player_id_min]
    for contact_id in players.contact_id:
        r = requests.get('{}/contact/{}'.format(API_URL, contact_id))
        if r.status_code != 200:
            print('ERROR: Getting contacts for player failed.')
            return -1
        contact = r.json()
        print("Name: {}, Email: {}".format(contact['first_name'], contact['email']))

all_emails(classroom.id)

Name: Sam, Email: guardin26@gmail.com
Name: Connor Breeding, Email: connorbreeding@gmail.com
Name: Bri, Email: hello@lucernastudios.com
Name: Taz, Email: stalsani@gmail.com
Name: Daniel, Email: daniel.moret27@gmail.com
Name: Todd, Email: toddwilkinson@uwalumni.com
Name: Jacob, Email: jacob.cadiente@gmail.com
Name: Mai, Email: contact@missways.com
Name: Junior, Email: jbernard21@live.seminolestate.edu
Name: Ntenu tne, Email: mail@eugenio-mejia.com
Name: Jase, Email: jasestadler@gmail.com
Name: NEfn, Email: mail@eugenio-mejia.com
Name: Shannon, Email: skschuettke@gmail.com
Name: Tony, Email: mcgeheetony@yahoo.com
Name: Tim, Email: tim@kairosxr.com
Name: Evan, Email: evan@evanmterry.com
Name: bob, Email: bob@hotmail.com
Name: bobess, Email: bob@hotmail.com
Name: Richard, Email: tnetinntn
Name: Jose, Email: ontoientin